<p class="message">this page does not exists.</p>
<button class="btn" onclick="window.location.href = '/'">return</button>
<style>
  .message {
    color: red;
    text-align: center;
    margin-top: 20%;
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }

  .btn {
    display: block;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
    background-color: #33a061;
    color: white;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
  }
</style>