<body>
    <div>
        <h1>OTP Verification</h1>
        <p>Your OTP for verification is:
        <h2>
            <%= otp %>
        </h2>
        </p>
        <p>Please use this OTP to complete the verification process.</p>
        <p>Ignore this mail if you didn't logged into our application.</p>
        <p>Thank you!</p>
    </div><br>
    <div>
        <p>Regards,</p>
        <p>Team TodoApp</p>
    </div>
</body>