<body>
    <div>
        <h1 style="color: teal;">OTP Verification</h1>
        <p>Your OTP for verification is:</p>
        <button
            style="background-color: teal; padding: 7px; border: none; border-radius: 5px; cursor: pointer; color: white; font-size: 1rem;">
            <%= otp %>
        </button>

        <p>Please use this OTP to complete the verification process.</p>
        <p>Ignore this mail if you didn't logged into our application.</p>
        <p>Thank you!</p>
    </div><br>
    <div>
        <p>Regards,</p>
        <p>Team TodoApp</p>
    </div>
</body>