<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .container {
    max-width: 400px;
    margin-top: 10% !important;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  .error-border {
    border: 1px solid red;
  }

  .error {
    color: red;
    margin-top: 10px;
  }

  .loginButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 105%;
  }

  .btn2 {
    background-color: #3b5998;
    border-radius: 20px;
    font-size: 16px;
  }

  .btn1 {
    background-color: #d6584a;
    border-radius: 20px;
    font-size: 16px;
  }

  .or {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;

  }
</style>
</head>

<body>
  <div class="container">
    <h1>Register</h1>

    <div class="loginButtons">
      <button class="btn1">Continue with google</button>
      <button class="btn2">Continue with Facebook</button>
    </div>

    <h3 class="or">OR</h3>


    <form action="/user/register" method="POST">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="<%= message ? 'error-border' : '' %>" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="<%= message ? 'error-border' : '' %>" required />

      <% if (message) { %>
        <p class="error">
          <%= message %>
        </p>
        <% } %>
          <button type="submit">Register</button>
          <p>Already have an account? <a href="/user/login">login</a></p>
    </form>
  </div>
</body>