<body>
    <div>
        <h2 style="color: teal; text-decoration: none;">Welcome, <%= name %>
        </h2>

        <p>Thank you for signing up.</p>
        <p> Please click on the link below to verify your email address and complete the registration process.</p>
        <a href="http://localhost:3000">
            <button
                style="background-color: teal; padding: 7px; border: none; border-radius: 5px; cursor: pointer; color: white;">
                click to
                verify</button>
        </a>
        <p>Regards,</p>
        <p>Team Todo App</p>


    </div>
</body>