<body>
    <div>
        <h2>Welcome, <%= name %>
        </h2>

        <p>Thank you for signing up.</p>
        <p> Please click on the link below to verify your email address and complete the registration process.</p>
        <p><a href="localhost:3000">
                Click here to verify
            </a></p>
        <p>Regards,</p>
        <p>Team Todo App</p>


    </div>
</body>